 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');
  @import "tailwindcss";
  /* setup for main style here example root*/

@theme {
  --color-background : #F8FAFC;
  --color-gradient : #AD8787;
  --color-surface : #DE3C3C;
  --color-primary-accent : #F7B32D;
  --color-secondary-accent: #6366F1;
  --color-text-primary : #0F172A;
  --color-text-secondary : #475569;
  --color-boder : #C00000;

  /* gradient color */
  --color-background-gradient-start: #ffffff;
   --color-background-gradient-middle: #ced4da;
   --color-background-gradient-end: #939ca3;

  --font-title : "sora" , sans-serif;
  --font-paragraph: "Inter" , sans-serif;

  --shadow-bottom:0 30px 40px -15px rgba(0, 0, 0, 0.5);;
};


:root {
  background: var(--color-background);
}